# **MÓDULO 13**
# Projeto - Fundamentos da Descoberta de Dados

Nesse projeto trabalharemos com a base de dados de produtos de um supermercado do Chile.
A ideia é que vocês apliquem os conceitos estatísticos vistos no último módulo, mais os conceitos de visualizações de dados através de gráficos e finalizem publicando no seu github!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

Faça a leitura dos dados do arquivo CSV:


Altere o código abaixo de acordo com seu diretório.

In [2]:
df = pd.read_csv('MODULO7_PROJETOFINAL_BASE_SUPERMERCADO.csv', delimiter=',')

df.head(10)

,title,Marca,Preco_Normal,Preco_Desconto,Preco_Anterior,Desconto,Categoria
0,"Pack 12 un, Leche extra proteína 1 L",Loncoleche,19788,0,0,0,lacteos
1,"Pack 12 un, Leche chocolate receta original 1 L",Soprole,18228,0,0,0,lacteos
2,"Pack 12 un, Leche semidescremada chocolate 1 L",Soprole,18228,0,0,0,lacteos
3,"Pack 12 un, Leche semidescremada frutilla 1 L",Soprole,18228,0,0,0,lacteos
4,"Pack 12 un, Leche sin lactosa chocolate 1 L",Loncoleche,17988,0,0,0,lacteos
5,"Pack 12 un, Leche sin lactosa frutilla 1 L",Loncoleche,17988,0,0,0,lacteos
6,"Pack 12 un, Leche saborizada light chocolate 1 L",Loncoleche,17988,0,0,0,lacteos
7,"Pack 12 un, Leche saborizada frutilla 1 L",Colun,17388,0,0,0,lacteos
8,"Pack 12 un, Leche saborizada vainilla 1 L",Colun,17388,0,0,0,lacteos
9,"Pack 12 un, Leche saborizada manjar 1 L",Colun,17388,0,0,0,lacteos

Os campos do nosso dataframe são:

**Title:** Nome do produto.


**Marca:** A marca do produto.


**Preco_Normal:** O preço em que o produto costuma ser vendido quando não há desconto.


**Preco_Desconto:** O preço vendido após o desconto ser aplicado.


**Preco_Anterior:** Preço em que era comercializado o produto antes do desconto aplicado.


**Desconto:** Total de desconto aplicado.






As colunas que aparecem com valores 0 são para os produtos onde não tivemos descontos aplicados.


As categorias estão em espanhol!

# 1 - Traga a média e a mediana dos preços - coluna Preco_Normal - por categoria de produto.
# Identifique as categorias que parecem ter um valor de média abaixo ou acima da mediana.

In [3]:
#Seu código aqui para a média
media_preco = df.groupby('Categoria')['Preco_Normal'].mean()
media_preco

Categoria
belleza-y-cuidado-personal    1783.556485
comidas-preparadas            3095.043478
congelados                    2108.042553
frutas                        1724.473684
instantaneos-y-sopas           765.491228
lacteos                       2385.219239
verduras                      1343.296875
Name: Preco_Normal, dtype: float64

In [4]:
mediana_preco = df.groupby('Categoria')['Preco_Normal'].median().reset_index().sort_values(by='Preco_Normal', ascending=False)
mediana_preco

                    Categoria  Preco_Normal
1          comidas-preparadas        3290.0
0  belleza-y-cuidado-personal        1569.0
2                  congelados        1519.0
3                      frutas        1195.0
6                    verduras        1180.0
5                     lacteos         989.0
4        instantaneos-y-sopas         439.0

Digite aqui as categorias:

# 2 - Traga o desvio padrão por categoria de produto.
# Qual o comportamento da média e mediana nas categorias com maior desvio?

In [5]:
desvio_padrao_por_produto = df.groupby('Categoria')['Preco_Normal'].std().reset_index().sort_values(by="Preco_Normal", ascending=False)
desvio_padrao_por_produto

                    Categoria  Preco_Normal
5                     lacteos   3925.816164
0  belleza-y-cuidado-personal   2210.041719
2                  congelados   2111.539896
1          comidas-preparadas   2019.911428
3                      frutas   1639.151114
4        instantaneos-y-sopas   1170.232869
6                    verduras   1012.699625

Digite nesse campo o comportamento que você identificou.
Os Lacteos possui o maior desvio padrão, e provavelmente deve ter muitos outliers, vamos melhorar essa identificaçao a seguir, plotando um Grafico de Boxplot pra ajudar na visulização desses outliers

# 3 - Plot um boxplot da distribuição do Preco_Normal para a categoria que você identificou que tem o maior desvio padrão. Como é a distribuição desses dados segundo o boxplot? Você identifica muitos outliers?

Dica: Para trazer apenas os dados da categoria que você deseja você pode usar o df.loc[df['Categoria'] == 'CATEGORIA ESCOLHIDA'

In [6]:
#Seu código aqui
#O Grafico nao estava sendo plotando no Jupiter, entao tive que fazer essa configuraçao pro grafico ser exibido no navegador.
import plotly.io as pio

# Define o renderer para usar o navegador padrão
pio.renderers.default = 'browser'

cate = df.loc[df['Categoria'] == 'lacteos']
fig = px.box(cate, y='Preco_Normal', title='Distribuição do Preço Normal da Categoria Lacteos')
fig.show()

#1 Pelo grafico notamos que possui muitos outliers dentro dessa categoria.

# 4 - Plote um gráfico de barras onde temos a média de descontos por categoria.

In [7]:
# Seu código aqui
des_cate=df.groupby('Categoria')['Desconto'].mean()
fig = px.bar(des_cate, y='Desconto',
              title='Grafico de Descontos por Categoria',
               labels={'Desconto': 'Média de Descontos', 'Categoria':'Categoria'} )
fig.show()

# 5 - Plote um gráfico de mapa interativo agrupando os dados por categoria, marca e trazendo a média de desconto.

In [11]:
# Seu código aqui
grupo = df.groupby(['Categoria','Marca'])['Desconto'].mean().reset_index()

fig = px.bar(
    grupo,
    x='Marca',
    y='Desconto',
    color="Categoria",
    barmode= 'group',
    title='Media de descontos',
    labels={'Desconto': 'Média de desconto (%)', 'Marca': 'Marca', 'Categoria': 'Categoria'},
    text=grupo['Desconto'].round(2)
)

fig.update_layout(
    xaxis_tickangle=-45,
    yaxis_tickformat='.0%',
    bargap=0.2
)
fig.show()